
body{
  background-color: rgb(240, 240, 240) !important;
}

/* Sidenav */

.sidenav {
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(110, 97, 231);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 20px;
  text-decoration: none;
  font-size: 30px;
  color: #ffffff8e;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#sidebar-calendario{
  margin-top: 25%;
  margin-bottom: 10%;
}

#sidebar-usuarios,
#sidebar-informes{
  margin-bottom: 10%;
}


/* Home */

#home{
  margin-left: 8%;
  zoom: 1.21;
}

/* dashboard */

#dashboard{
  height: 25%;
}

#dashboard .iconos a{
  padding-left: 30px;
  font-size: 200%;
  color: grey;
}

#card-usuario{
  background: linear-gradient(to right, rgba(120,100,218,0.53) 0%, rgba(148,189,244,1) 100%);
  background-image: linear-gradient(to right, rgba(120, 100, 218, 0.53) 0%, rgb(148, 189, 244) 100%);
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}

hr{
    height: 5px;
    background-color: white;
    box-sizing: content-box;
    overflow: visible;
    border-style: inset;
    border-width: 1px;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.card {
  border-radius: 4px;
  flex-grow: 1;
  flex-shrink: 1;
  box-shadow: 2px 2px 5px #999;
}

/* card derecha */

#iconos-notificaciones{
  font-size: 25px;
  color: #999;
}

#nombre-mensaje{
  color: grey;
}

/* card del medio */

#dibujo-card-mitad-izq{
  font-size: 35px;
  color: #999;
  padding: 0;
}

#notificaciones {
  border-bottom: blue 1px solid;
  margin-left: 20px;
}

#notificaciones p,
#hoteles p,
#pagos p{
  padding-left: 30px;
}

#hoteles,
#pagos {
    border-bottom: blue 1px solid;
}

#hoteles i,
#pagos i,
#notificaciones i{
  color: rgb(110, 97, 231);
}

/* card hoteles disponibles */

#hoteles-disponibles{
  color: rgb(112, 112, 112);
}

.card-img-overlay{
  margin-right: 4%;
  background-color: rgb(10, 10, 10) ;
  opacity: 0.6;
}

.card-img-overlay h5{
  text-align: center;
  color: white;
}

#card-hoteles2{
  height: 160px;
}

.btn-danger{
  margin-left: 30%;
  background: #4c30d8 !important;
  border: 1px solid #2f09ee ;
    text-align: center;
    transition: all 0.2s;
}
.btn-secondary{
  margin-left: 36%;
  background: #4c30d8 !important;
  border: 1px solid #2f09ee ;
    text-align: center;
    transition: all 0.2s;
}




@media (max-width:720px){

  .sidenav{
    zoom: 0.5;
  }

  #home{
      zoom: 0.3;
  }

  #container-izq{
    justify-content: none;
    display: none;
  }

}